<div class="container">
  <div class="card card-block top-margin">
    <div class="card-title">
      <div class="header-container">
        <h1>
          <md-icon>cloud_upload</md-icon>
          &nbsp;Welcome to {{title}}
        </h1>
      </div>
    </div>
    <div class="card-text">
      <p>Select Event: {{fileSelectMultipleMsg}}</p>
      <p>Upload Event: {{fileUploadMultipleMsg}}</p>

      <td-file-upload #fileMultipleUpload
                      (select)="selectMultipleEvent($event)"
                      (upload)="uploadMultipleEvent($event)"
                      (cancel)="cancelMultipleEvent()"
                      accept="*.csv" defaultColor="accent" activeColor="warn" cancelColor="primary" multiple
                      [disabled]="disabled">
        <md-icon>file_upload</md-icon>
        <span>
            {{ fileMultipleUpload.files?.name || fileMultipleUpload.files?.length }} <span
          *ngIf="fileMultipleUpload.files?.length">files selected</span>
        </span>
        <ng-template td-file-input-label>
          <md-icon>attach_file</md-icon>
          <span>Choose multiple .csv files...</span>
        </ng-template>
      </td-file-upload>
    </div>
  </div>
</div>

<!--Show components under router-->
<router-outlet></router-outlet>
